<form [formGroup]="movieForm" novalidate (ngSubmit)="onSubmit($event)">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Movie Infomation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-hint align="start">Id</mat-hint>
            <input matInput placeholder="Id" formControlName="id">
            @if (movieForm.controls['id'].hasError('required')) {
            <mat-error>Id is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-hint align="start">Nombre Pelicula</mat-hint>

            <input matInput placeholder="Nombre Pelicula" formControlName="titleText">
            @if (movieForm.controls['titleText'].hasError('required')) {
            <mat-error>Name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-hint align="start">Año de lanzamiento</mat-hint>

            <input matInput #postalCode maxlength="5" placeholder="Año de lanzamiento" type="number"
              formControlName="releaseYear">
            <!-- <mat-hint align="end">100 / 5</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-hint align="start">Tipo de Pelicula</mat-hint>
            <input matInput placeholder="Tipo de Pelicula" formControlName="titleType">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Imagen" formControlName="primaryImage">
            @if (movieForm.controls['primaryImage'].hasError('required')) {
            <mat-error>Imagen is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions class="flex justify-between mr-2">
      <button mat-raised-button color="accent" type="submit">Cancelar</button>
      <button mat-raised-button color="accent" type="submit" [disabled]="movieForm.invalid">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>