.full-width-table {
  width: 100%;
  text-align: center !important;
}

.mat-paginator {
  display: flex;
  justify-content: center;
} 

.mat-sort-header-container{
  justify-content: center;
}

.mat-header-cell {
  text-align: center !important;
}

.center-text {
  text-align: center
}